<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="privateRoom" class="com.vroom.ui.PrivateRoom"/>
    <bean id="businessRoom" class="com.vroom.ui.BusinessRoom"/>
    <bean id="thirdRoom" class="com.vroom.ui.ThirdRoom"/>
    <bean id="vroomAttributeGroups" class="com.vroom.ui.VRoomAttributeGroups"
          scope="singleton">
        <property name="decorators">
            <map>
                <entry key="Private VRoom" value-ref="privateRoom"/>
                <entry key="Business VRoom" value-ref="businessRoom"/>
                <entry key="Third VRoom" value-ref="thirdRoom"/>
            </map>
        </property>
    </bean>
</beans>